@import 'vars';
@import 'vendor/reset';

html {
  font-size: 62.5%;
}

body {
  background-color: #121212;
  font-size: 1.4rem;
  font-family: 'Roboto', sans-serif;
  color: $white;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Blocks */
@import 'blocks/page';
@import 'blocks/header';
@import 'blocks/sidebar';
@import 'blocks/main';
@import 'blocks/container.scss';
