<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head }}
</head>

<body>

    <!----- PAGE ----->
    <div class="page">
        <!-- Header -->
        {{> header }}

        <!-- Sidebar -->
        {{> sidebar }}

        <!-- Main -->
        <main class="main">
            <div class="container">
                {{> body }}
            </div><!--container-->
        </main>
    </div><!--page-->

    <!----- JS ----->
    <script src="assets/js/app.js"></script>
</body>

</html>